<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<meta http-equiv="Content-Style-Type" content="text/css">
<style type="text/css"><!--
  body { margin: 1% auto; width: 40em; }
--></style>
<title><%= params[:name] %></title>
</head>
<body>
<%= yield %>
</body>
</html>
